body {
--vamtam-body-link-regular:#000000;
--vamtam-body-link-visited:#000000;
--vamtam-body-link-hover:#FF6A00;
--vamtam-body-link-active:#FF6A00;
--vamtam-body-background-color:#F5F3F1;
--vamtam-input-border-radius:0px 0px 0px 0px;
--vamtam-input-border-color:#5E5E5E;
--vamtam-btn-text-color:#F5F3F1;
--vamtam-btn-hover-text-color:#FFFFFF;
--vamtam-btn-bg-color:#000000;
--vamtam-btn-hover-bg-color:#FF6A00;
--vamtam-site-max-width:1260px;
--vamtam-primary-font-color:#000000;
--vamtam-h1-color:#000000;
--vamtam-h2-color:#000000;
--vamtam-h3-color:#000000;
--vamtam-h4-color:#000000;
--vamtam-h5-color:#000000;
--vamtam-h6-color:#000000;
--vamtam-accent-color-1:#FF6A00;
--vamtam-accent-color-1-hc:#FFFFFF;
--vamtam-accent-color-1-rgb:255,106,0;
--vamtam-accent-color-2:#F5F3F1;
--vamtam-accent-color-2-hc:#000000;
--vamtam-accent-color-2-rgb:245,243,241;
--vamtam-accent-color-3:#5E5E5E;
--vamtam-accent-color-3-hc:#FFFFFF;
--vamtam-accent-color-3-rgb:94,94,94;
--vamtam-accent-color-4:#DCD6CC;
--vamtam-accent-color-4-hc:#000000;
--vamtam-accent-color-4-rgb:220,214,204;
--vamtam-accent-color-5:#FFFFFF;
--vamtam-accent-color-5-hc:#000000;
--vamtam-accent-color-5-rgb:255,255,255;
--vamtam-accent-color-6:#000000;
--vamtam-accent-color-6-hc:#FFFFFF;
--vamtam-accent-color-6-rgb:0,0,0;
--vamtam-accent-color-7:#BFBDBB;
--vamtam-accent-color-7-hc:#000000;
--vamtam-accent-color-7-rgb:191,189,187;
--vamtam-accent-color-8:#FAF9F8;
--vamtam-accent-color-8-hc:#000000;
--vamtam-accent-color-8-rgb:250,249,248;
--vamtam-sticky-header-bg-color:#FFFFFF;
--vamtam-primary-font-font-family:'Kanit';
--vamtam-primary-font-font-weight:300;
--vamtam-primary-font-font-size-desktop:16px;
--vamtam-primary-font-font-size-tablet:16px;
--vamtam-primary-font-font-size-phone:16px;
--vamtam-primary-font-line-height-desktop:1.6;
--vamtam-primary-font-line-height-tablet:1.6;
--vamtam-primary-font-line-height-phone:1.6;
--vamtam-h1-font-family:'Mattone';
--vamtam-h1-font-weight:normal;
--vamtam-h1-transform:none;
--vamtam-h1-font-size-desktop:70px;
--vamtam-h1-font-size-tablet:42px;
--vamtam-h1-font-size-phone:27px;
--vamtam-h1-line-height-desktop:1.2;
--vamtam-h1-line-height-tablet:1.1;
--vamtam-h1-line-height-phone:1.1;
--vamtam-h2-font-family:'Mattone';
--vamtam-h2-font-weight:normal;
--vamtam-h2-transform:none;
--vamtam-h2-font-size-desktop:60px;
--vamtam-h2-font-size-tablet:33px;
--vamtam-h2-font-size-phone:23px;
--vamtam-h2-line-height-desktop:1.15;
--vamtam-h2-line-height-tablet:1.1;
--vamtam-h2-line-height-phone:1.2;
--vamtam-h3-font-family:'Mattone';
--vamtam-h3-font-weight:normal;
--vamtam-h3-transform:none;
--vamtam-h3-font-size-desktop:40px;
--vamtam-h3-font-size-tablet:27px;
--vamtam-h3-font-size-phone:20px;
--vamtam-h3-line-height-desktop:1.3;
--vamtam-h3-line-height-tablet:1.2;
--vamtam-h3-line-height-phone:1.3;
--vamtam-h4-font-family:'Mattone';
--vamtam-h4-font-weight:normal;
--vamtam-h4-transform:none;
--vamtam-h4-font-size-desktop:28px;
--vamtam-h4-font-size-tablet:20px;
--vamtam-h4-font-size-phone:18px;
--vamtam-h4-line-height-desktop:1.3;
--vamtam-h4-line-height-tablet:1.3;
--vamtam-h4-line-height-phone:1.3;
--vamtam-h5-font-family:'Mattone';
--vamtam-h5-font-weight:normal;
--vamtam-h5-transform:uppercase;
--vamtam-h5-font-size-desktop:20px;
--vamtam-h5-font-size-tablet:17px;
--vamtam-h5-font-size-phone:16px;
--vamtam-h5-line-height-desktop:1.7;
--vamtam-h5-line-height-tablet:1.7;
--vamtam-h5-line-height-phone:1.7;
--vamtam-h6-font-family:'Kanit';
--vamtam-h6-font-weight:normal;
--vamtam-h6-transform:uppercase;
--vamtam-h6-font-size-desktop:16px;
--vamtam-h6-font-size-tablet:15px;
--vamtam-h6-font-size-phone:14px;
--vamtam-h6-line-height-desktop:1.5;
--vamtam-h6-line-height-tablet:1.5;
--vamtam-h6-line-height-phone:1.5;
--vamtam-icon-arrow-left-1:'\e918';
--vamtam-icon-arrow-right-1:'\e919';
--vamtam-icon-barcode:'\e91a';
--vamtam-icon-credit-locked:'\e91b';
--vamtam-icon-rate:'\e91d';
--vamtam-icon-shop:'\e91e';
--vamtam-icon-comments:'\e91f';
--vamtam-icon-delivery-fast:'\e920';
--vamtam-icon-email:'\e921';
--vamtam-icon-headset:'\e922';
--vamtam-icon-heart-empty:'\e923';
--vamtam-icon-heart-fill:'\e924';
--vamtam-icon-play:'\e925';
--vamtam-icon-check-1:'\e917';
--vamtam-icon-account:'\e90f';
--vamtam-icon-bag-new:'\e913';
--vamtam-icon-check:'\e914';
--vamtam-icon-delivery:'\e915';
--vamtam-icon-money-bag:'\e916';
--vamtam-icon-menu:'\e903';
--vamtam-icon-arrow-left:'\e90a';
--vamtam-icon-arrow-right:'\e90b';
--vamtam-icon-plus:'\e902';
--vamtam-icon-minus:'\e901';
--vamtam-icon-close:'\e900';
--vamtam-icon-favorite:'\e90c';
--vamtam-icon-bag:'\e904';
--vamtam-icon-vegan:'\e909';
--vamtam-icon-search:'\e910';
--vamtam-icon-sulphate:'\e912';
--vamtam-icon-heart:'\e90e';
--vamtam-icon-spray:'\e911';
--vamtam-icon-organic:'\e906';
--vamtam-icon-natural:'\e905';
--vamtam-icon-gluten:'\e90d';
--vamtam-icon-star-2:'\e907';
--vamtam-icon-star:'\e908';
--vamtam-form_field_border_width:0px 0px 1px 0px;
--vamtam-form_field_border_border:solid;
--vamtam-form_field_focus_border_border:solid;
--vamtam-form_field_focus_border_color:#FF6A00;
--vamtam-form_label_color:#000000CC;
--vamtam-form_label_typography_font_family:Kanit;
--vamtam-form_label_typography_font_weight:300;
--vamtam-form_field_padding:0px 0px 5px 0px;
--vamtam-form_field_border_radius:0px 0px 0px 0px;
--vamtam-form_field_background_color:#02010100;
--vamtam-form_field_border_color:#5E5E5E;
--vamtam-form_field_focus_text_color:#000000;
--vamtam-form_field_text_color:#000000;
--vamtam-form_field_typography_font_family:Kanit;
--vamtam-form_field_typography_font_size:14px;
--vamtam-form_field_typography_font_size_mobile:16px;
--vamtam-form_field_typography_font_weight:300;
--vamtam-form_field_typography_line_height:1.5em;
}